@import url('https://fonts.googleapis.com/css?family=Poppins:wght@400;500;600&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Popins', sans-serif;
}
body{
    background-color: aqua;
}
main{
    padding: 8rem 0rem;
}
nav{
    background: #1d3044;
    color: #ffff;
    height: 80px;
    width: 100%;
    position: fixed;
    display: flex;
    justify-content: space-around;
    text-align: center;
    line-height: 50px;
    z-index: 2000;
    padding: 20px;
}
nav a{
    font-size: 1.3rem;
    color: #fff;
    text-decoration: none;
    font-weight: 700;
    text-transform: capitalize;
}
nav a:hover{
    color: yellow;
}
.wrapper{
    margin: auto;
    max-width: 340px;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    padding: 0.8rem;
    background: #cbe695;
    border-radius: 0.5rem;
}
.wrapper .calendar-picture{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 170px;
    padding: 0.2rem;
    background: url('../image/lagos.avif');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.calendar-picture .current-date{
    font-size: 1rem;
    font-weight: 400;
    color: yellow;
}
.calendar-picture #current-date-2{
    color: yellow;
}
.calendar-picture .icons span{
    font-size: 1.2rem;
    margin: 0.6rem;
    text-align: center;
    line-height: 34px;
    cursor: pointer;
    background: yellow;
    padding: 0.1rem 0.4rem;
}
.calendar{
    padding-top: 0.8rem;
}
.calendar .weeks li{
    padding: 0.5rem;
    font-weight: 700;
    color: midnightblue;
}
.calendar ul{
    display: flex;
    list-style-type: none;
    flex-wrap: wrap;
    text-align: center;
}
.weeks li:nth-child(1){
    color: red;
}
.calendar ul li{
    width: calc(100% /7);
    position: relative;
}
.calendar .days li{
    padding: 0.5rem 0rem;
    cursor: pointer;
    z-index: 1;
}
.days li.active{
    color: #fff;
}
.days li.inactive{
    color: #b4182a;
}
.calendar .days li::before{
    position: absolute;
    content: "";
    width: 25px;
    height: 25px;
    top: 50%;
    left: 50%;
    z-index: -1;
    transform: translate(-50%, -50%);

}
.days li:hover::before{
    background: #f2f2f2;
}
.days li.active::before{
    background: #8e457e;
    border-radius: 50%;
}

.footer{
    background: #1d3044;
    color: #ffff;
    margin-bottom: 0rem;
    height: 80px;
    width: 100%;
    text-align: center;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.1rem;
}

/*=======documentation page=========*/
.container{
    padding: 2rem;
}
.doc-header{
    text-align: center;
    padding: 1.1rem;
}
.doc-header h2{
    margin: 1rem;
}
.container .description, .appreciation{
    line-height: 1.6;
    text-align: justify;
}
.container .description h2{
    text-align: center;
}
table{
    margin: 2rem auto;
    width: 60%;
    background: #cbe695;
}
table,tr, td, th{
    border: 1px solid #000;
}
td{
    width: 15rem;
    color: rgb(87, 32, 215);
}

/*=======media query=========*/
@media screen and (max-width:768px){
    body{
        background: #fdf3f2;
    }
     nav{
        font-size: 0.7rem;
    }
    .wrapper{
        background: green;
    }

    .footer{
        font-size: 0.8rem;
    }
    .calendar .days li{
        color: #fff;
    }
    .days li.inactive{
        color: yellow;
    }
    .days li.active::before{
        background: midnightblue;
        color: green;
        border-radius: 50%;
    }
    table{
        width: 100%;
    }
}
@media screen and (max-width:400px){
    nav{
        padding: 20px 0px;
    }
    nav{
        font-size: 0.5rem;
    }
    nav a{
        font-size: 0.8rem;
        font-weight:700;
    }
    .wrapper{
        max-width: 310px;
        width: 100%;
    }
}

